$fontSize-h1: clamp(36px, 4.5vw, 42px);
$fontSize-h2: clamp(32px, 4vw, 36px);
$fontSize-h3: clamp(24px, 3vw, 32px);
$fontSize-h4: clamp(18px, 2.5vw, 24px);
$fontSize-b: clamp(16px, 2.5vw, 20px);
$fontSize-p: clamp(14px, 2vw, 18px);
$fontSize-a: 18px;

:root,
html[class="light"] {
  --base-bg: #ffffff;
  --base-text: #000000;
  --border-color: #374151;
  --shadow-color: rgba(0, 0, 0, 0.3);
  --button-bg: rgba(146, 137, 137, 0.1);
  --input-bg: rgba(241, 235, 235, 0.979);
  --option-bg: rgba(247, 242, 242, 0.979);
  --color-md: light;

  --color-primary-50: 240 249 255;
  --color-primary-100: 224 242 255;
  --color-primary-200: 186 230 255;
  --color-primary-300: 125 211 252;
  --color-primary-400: 3 105 161;
  --color-primary-500: 7 89 133;
  --color-primary-600: 12 74 110;
  --color-primary-700: 10 44 71;
  --color-primary-800: 7 33 55;
  --color-primary-900: 5 22 38;
  --color-primary-950: 3 12 22;
}

html[class="dark"] {
  --base-bg: #111827;
  --base-text: #ffffff;
  --border-color: #d1d5db;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --button-bg: rgba(94, 87, 87, 0.1);
  --input-bg: rgba(51, 48, 48, 0.1);
  --option-bg: rgba(255, 255, 255, 0.1);
  --color-md: dark;

  --color-primary-50: 244 247 252;
  --color-primary-100: 230 238 248;
  --color-primary-200: 192 211 238;
  --color-primary-300: 154 184 228;
  --color-primary-400: 109 148 211;
  --color-primary-500: 74 110 188;
  --color-primary-600: 59 89 151;
  --color-primary-700: 47 71 121;
  --color-primary-800: 36 55 92;
  --color-primary-900: 27 42 70;
  --color-primary-950: 16 23 40;
}

$base-bg: var(--base-bg);
$text-color: var(--base-text);
$border-color: var(--border-color);
$shadow-color: var(--shadow-color);
$button-bg: var(--button-bg);
$input-bg: var(--input-bg);
$color-md: var(--color-md);
$option-bg: var(--option-bg);

$light-bg: #f9fafb;
$light-text: #1f2937;
$light-accent: #3b82f6;
$dark-bg: #111827;
$dark-text: #e5e7eb;
$dark-accent: #60a5fa;
$fantasy-bg: #1e293b;
$fantasy-text: #9ca3af;
$fantasy-accent: #683bd1;
