$fontSize-h1: clamp(36px, 4.5vw, 42px);
$fontSize-h2: clamp(32px, 4vw, 36px);
$fontSize-h3: clamp(24px, 3vw, 32px);
$fontSize-h4: clamp(18px, 2.5vw, 24px);
$fontSize-b: clamp(16px, 2.5vw, 20px);
$fontSize-p: clamp(14px, 2vw, 18px);
$fontSize-a: 18px;

:root,
html[class="light"] {
  --base-bg: #ffffff;
  --base-text: #000000;
  --border-color: #374151;
  --shadow-color: rgba(0, 0, 0, 0.3);
  --button-bg: rgba(146, 137, 137, 0.1);
  --color-md: light;

  --color-primary-50: #f0f9ff;
  --color-primary-100: #e0f2ff;
  --color-primary-200: #bae6ff;
  --color-primary-400: #0369a1;
  --color-primary-500: #075985;
  --color-primary-600: #0c4a6e;
  --color-primary-700: #0a2c47;
}

html[class="dark"] {
  --base-bg: #111827;
  --base-text: #ffffff;
  --border-color: #d1d5db;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --button-bg: rgba(94, 87, 87, 0.1);
  --color-md: dark;

  --color-primary-50: #f4f7fc;
  --color-primary-100: #e6eef8;
  --color-primary-200: #c0d3ee;
  --color-primary-300: #9ab8e4;
  --color-primary-400: #6d94d3;
  --color-primary-500: #4a6ebc;
  --color-primary-600: #3b5997;
  --color-primary-700: #2f4779;
  --color-primary-800: #24375c;
  --color-primary-900: #1b2a46;
  --color-primary-950: #101728;
}

$base-background: var(--base-bg);
$text-color: var(--base-text);
$border-color: var(--border-color);
$shadow-color: var(--shadow-color);
$button-background: var(--button-bg);
$color-md: var(--color-md);

$light-bg: #f9fafb;
$light-text: #1f2937;
$light-accent: #3b82f6;
$dark-bg: #111827;
$dark-text: #e5e7eb;
$dark-accent: #60a5fa;
$fantasy-bg: #1e293b;
$fantasy-text: #9ca3af;
$fantasy-accent: #8b5cf6;
