@use "@/assets/scss/_variables.scss" as *;

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

html {
  color: $text-color;
  background-color: $base-background;
}
#__nuxt,
#app {
  @apply flex flex-col min-h-screen;
}

main {
  @apply flex-grow;
}

label,
a,
p,
b,
h1,
h2,
h3,
h4,
h5 {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: $fontSize-h1;
  font-weight: 800;
}
h2 {
  font-size: $fontSize-h2;
  font-weight: 700;
}
h3 {
  font-size: $fontSize-h3;
  font-weight: 700;
}
h4 {
  font-size: $fontSize-h4;
  font-weight: 600;
}
p {
  font-size: $fontSize-p;
}
a {
  font-size: $fontSize-a;
}
b {
  font-size: $fontSize-b;
}

button {
  background-color: $button-background;
}

border {
  border-color: $border-color;
}
